BasedOnStyle: LLVM
IndentWidth: 4
AllowShortFunctionsOnASingleLine: None
AlignConsecutiveAssignments: true
BreakBeforeBraces: Allman
SpaceBeforeParens: Always
AlignTrailingComments: true
PointerAlignment: Right
SpaceBeforeSquareBrackets: true
