[submodule "vendor/sourcemod"]
	path = vendor/sourcemod
	url = https://github.com/alliedmodders/sourcemod.git
	branch = 1.10-dev
[submodule "vendor/metamod-source"]
	path = vendor/mmsource-1.10
	url = https://github.com/alliedmodders/metamod-source.git
	branch = 1.10-dev
[submodule "vendor/ambuild"]
	path = vendor/ambuild
    url = https://github.com/alliedmodders/ambuild.git
[submodule "vendor/hl2sdk-tf2"]
	path = vendor/hl2sdk-tf2
	url = https://github.com/alliedmodders/hl2sdk
[submodule "vendor/hl2sdk-proxy-repo"]
	path = vendor/hl2sdk-proxy-repo
	url = https://github.com/alliedmodders/hl2sdk
